<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [maxPercent]="100"
      [title]="'HTML'"
      [titleColor]="'#000000'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="45"
      [radius]="100"
      [maxPercent]="100"
      [title]="'CSS'"
      [titleColor]="'#000000'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="30"
      [radius]="100"
      [maxPercent]="100"
      [title]="'JS'"
      [titleColor]="'#000000'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="55"
      [radius]="100"
      [maxPercent]="100"
      [title]="'GITHUB'"
      [titleColor]="'#000000'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="30"
      [radius]="100"
      [maxPercent]="100"
      [title]="'INGLES'"
      [titleColor]="'#000000'"
      [titleFontSize]="'3em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="100"
      [maxPercent]="100"
      [title]="'TRABAJO GRUPAL'"
      [titleColor]="'#000000'"
      [titleFontSize]="'1.270em'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
  ></circle-progress>
  </div>
</div>